# Python
__pycache__/
*.py[cod]

# Sorties de benchmark
datalake/benchmark/*.png
datalake/spark/benchmark_results.csv

# Sources volumineuses (ne pas versionner)
sources/DECES EN FRANCE/*.csv
sources/BDD PostgreSQL/DATA2023
